:root {
    --Primary: #000;
    --Secondary: #FFF;
    --Red: #E5361E;
    --Blue: #1AC9E1;
    --DarkGrey: #2D2D2D;
    --Grey: #404040;
}

body, h1, h2, h3, .container, .quote-container, .button-container {
    transition: 1s
}

body {
    background-color: var(--Secondary);
}

h1 {
    font-size: 32px;
    color: var(--Primary);
}
h2 {
    font-size: 24px;
    color: var(--Primary);
}
h3 {
    font-size: 16px;
}

button {
    cursor:pointer;
}

.container {
    background-color: var(--Secondary);
    padding: 0px 10px;
    max-width: 800px;
    margin:auto;
}

nav {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.logo {
    color: var(--Red);
    font-weight: 600;
}

.quote-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 50vh;
    padding: 20px 10px;
    max-width:100%;
}

.bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.quote {
    font-weight: 500;
    margin-bottom: 40px;
}

.author {
    font-weight: 800;
}

/* Boostrap imported icon element for Dark Mode */
i {
    font-size: 24px;
    cursor: pointer;
    position: relative;
    left: 30%;
    color: var(--Primary);
    transition: transform 1.5s;
}
i:hover {
    transform: rotate(360deg);
}

.screenshot-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 75px;
    width: 2000px;
    height: 2000px;
    position: absolute;
    overflow: hidden;
    right: 100%;
    background-color: var(--Secondary);
}

.screenshot-quote {
    font-size: 100px;
    line-height: 137px;
    font-weight: 500;
    color: var(--Primary);
}

.screenshot-author {
    font-size:75px;
    font-weight: 800;
    color: var(--Primary);
}

.quote-container, .button-container {
    border: 1px solid var(--Red);
    border-radius: 20px;
    filter: drop-shadow(0 3px 0 var(--Red));
    background-color: var(--Secondary);
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 23px;
    left: 10px;
    right: 10px;
    max-height: 80px;
    padding: 15px;
    max-width: 800px;
    margin: auto;
}

.screenshot, .previous, .next {
    visibility: hidden;
    background-color: var(--Red);
    color: var(--Secondary);
    border-radius: 50%;
    border: none;
    width: 45px;
    height: 45px;
    max-width: 45px;
    max-height: 45px;
    transition-property: transform, color 2s;
    transition-duration: 0.3s;

}

.previous:hover, .screenshot:hover, .next:hover {
    background-color: #ff0000;
    transform: scale(105%)
}

.previous:active, .screenshot:active, .next:active  {
    background-color: #ec3f62;
    transition: none;
}

.generate:hover {
    background-color: #ff0000;
    transform: scale(101%)
}

.generate:active {
    background-color: #ec3f62;
    transition: none;
}

.generate {
    background-color: var(--Red);
    color: var(--Secondary);
    border-radius: 45px;
    border: none;
    width: 200px;
    font-family: normalidad-wide, sans-serif;
    font-size: 24px;    
    line-height: 45px;
    /* transition: transform 0.3s; */
    transition-property: transform, color 2s;
    transition-duration: 0.3s;
}

.generate-label {
    transform: translate(0px, -5%);
    color: #FFF;
}

.arrow  {
    transform: translate(0px, 5%);
}

/* .next {
    transform: rotate(0.5turn);
} */

@media screen and (min-width: 800px) {

    h1 {
        font-size: 42px;
    }

    .author {
        font-size: 32px;
    }

}


